%h2
  Bookings for
  = @performer.name
  %small
    = link_to "Edit Listing", edit_performer_path(@performer)

%ul.nav.nav-pills.nav-justified#bookings-index-tab
  %li.active
    = link_to "#accepted", data: {toggle: "tab"} do
      Accepted Bookings
  %li
    = link_to "#pending", data: {toggle: "tab"} do
      Pending Bookings
  %li
    = link_to "#completed", data: {toggle: "tab"} do
      Completed Bookings

%br
.tab-content
  .tab-pane.fade.in.active#accepted= render partial: "accepted"
  .tab-pane.fade#pending= render partial: "pending"
  .tab-pane.fade#completed= render partial: "completed"
