= form_for @user, html: { class: "form-horizontal", role: "form" } do |f|
  - if @user.errors.any?
    .text-danger
      %h4= "#{pluralize(@performer.errors.count, "error")} prohibited this performer from being saved:"
      %ul.list-group
        - @user.errors.full_messages.each do |msg|
          %li.list-group-item= msg

  .form-group
    = f.label(:email, "email", class: "col-sm-2 col-sm-offset-2 control-label")
    .col-sm-4
      = f.text_field(:email, class: "form-control", type: "text")
  .form-group
    = f.label(:password, "password", class: "col-sm-2 col-sm-offset-2 control-label")
    .col-sm-4
      = f.password_field(:password)
  .form-group
    = f.label(:password_confirmation, "password confirmation", class: "col-sm-2 col-sm-offset-2 control-label")
    .col-sm-4
      = f.password_field(:password_confirmation)
  .col-sm-offset-5
    = f.submit 'save', class: "btn btn-primary"
