- if @past_bookings.present?
  %table.table
    %tr
      %th Performer
      %th Date
      %th Time
      %th Add Review
    - @past_bookings.each do |booking|
      %tr
        %td= booking.performer.name
        %td= booking.event_date
        %td= booking.event_time || "N/A"
        %td= link_to "Review", "#", class: "btn btn-primary", data: {toggle: "modal", target: "#performer-#{booking.performer.id}"}
        = render partial: "review_modal", locals: {performer: booking.performer, user_id: current_user.id}
- else
  %br
  %p.text-center.text-muted Nothing Here Yet
