%ul.nav.nav-pills.nav-justified#user-edit-tab
  %li.active
    = link_to "#account", data: {toggle: "tab"} do
      Account Details
  %li
    = link_to "#upcoming", data: {toggle: "tab"} do
      Upcoming Events
  %li
    = link_to "#past", data: {toggle: "tab"} do
      Past Events
  %li
    = link_to "#listings", data: {toggle: "tab"} do
      Your Performer Listings

%br
.tab-content
  .tab-pane.fade.in.active#account
    %br
    = render partial: "form"
  .tab-pane.fade#upcoming= render partial: "upcoming_events"
  .tab-pane.fade#past= render partial: "past_events"
  .tab-pane.fade#listings= render partial: "performer_listings"
