%h2 Billing Information
#billing
  = form_for @performer, url: billing_performer_path, method: "POST", html: { class: "form-horizontal", role: "form", id: "billing-form" } do |f|
    %p.help-block These fields will allow us to transfer money to your debit card
    .form-group
      = f.label :legal_billing_name, "Legal Billing Name", class: "col-sm-2 control-label"
      .col-sm-4
        = text_field_tag "performer[legal_billing_name]", nil, class: "form-control legal-billing-name", type: "text"
      %p.help-block
        Enter the name on your card
    .form-group
      = f.label :card_number, "Card Number", class: "col-sm-2 control-label"
      .col-sm-4
        = text_field_tag "performer[card_number]", nil, class: "form-control card-number", type: "text"
    .form-group
      = f.label :cvc, "CVC", class: "col-sm-2 control-label"
      .col-sm-4
        = text_field_tag "performer[cvc]", nil, class: "form-control cvc", type: "text"
    .form-group
      = f.label :expires_on, 'Expiration date', class: "col-sm-2 control-label"
      .col-sm-4{style: "margin: 7px;"}
        = date_select 'performer', :expires_on, discard_day: true, start_year: Date.today.year, end_year: (Date.today.year+10), use_month_numbers: true
    .col-sm-offset-5
      = f.submit 'Save', class: "btn btn-primary", id: "billing-submit"
