.billing
  %p.help-block These fields will allow us to transfer to your bank account
  .form-group
    = label_tag :legal_billing_name, "Legal Billing Name", class: "col-sm-2 control-label"
    .col-sm-4
      = text_field_tag :legal_billing_name, "", class: "form-control legal-billing-name", type: "text", disabled: recipient
    %p.help-block
      Enter the name on the bank account
  .form-group
    = label_tag :billing_email, "Billing Email", class: "col-sm-2 control-label"
    .col-sm-4
      = text_field_tag :billing_email, nil, class: "form-control billing-email", type: "text", disabled: recipient
  .form-group
    = label_tag :routing_number, "Routing Number", class: "col-sm-2 control-label"
    .col-sm-4
      = text_field_tag :routing_number, nil, class: "form-control routing-number", type: "text", disabled: recipient
  .form-group
    = label_tag :account_number, "Account Number", class: "col-sm-2 control-label"
    .col-sm-4
      = text_field_tag :account_number, nil, class: "form-control account-number", type: "text", disabled: recipient
