<%= form_for [@performer, @booking], class: "form" do |f| %>
  <%- if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") + "prohibited this performer from being saved:" %></h2>
      <ul>
        <%- @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%- end %>
      </ul>
    </div>
  <%- end %>

  <div class="form-group">
    <%= f.label("Event Date", :for => :event_date) %>
    <%= f.date_field(:event_date, :type => "date", class: "form-control") %>
    <%= f.label("Event Time", :for => :event_time) %>
    <%= f.time_field(:event_time, :type => "time", class: "form-control") %>
    <%= f.hidden_field(:cost, value: @performer.price) %>
    <%= f.hidden_field(:user_id, value: current_user.id) %>
  </div>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_G9YBSk7EWa8Ai8yF4KRGbXd0"
    data-amount=<%= (@performer.price*100).to_i %>
    data-name="BeatHaven"
    data-description="Book <%=@performer.name%>">
  </script>
<%- end %>