= form_for @performer, html: { class: "form-horizontal", role: "form" } do |f|
  - if @performer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@performer.errors.count, "error")} prohibited this performer from being saved:"
      %ul
        - @performer.errors.full_messages.each do |msg|
          %li= msg


  .form-group
    = f.label(:name, "Name", class: "col-sm-2 control-label")
    .col-sm-4
      = f.text_field(:name, class: "form-control", type: "text")
  .form-group
    = f.label(:soundcloud_url, "Soundcloud URL", class: "col-sm-2 control-label")
    .col-sm-4
      = f.text_field(:soundcloud_url, class: "form-control", type: "text")
      %span.help-block Pick a song or set on Soundcloud that shows off your music, and we'll embed it automatically in your listing
  .form-group
    = f.label(:description, "Description", class: "col-sm-2 control-label")
    .col-sm-4
      = f.text_area(:description, class: "form-control", type: "text")
  .form-group
    = f.label(:genre, "Genre", class: "col-sm-2 control-label")
    .col-sm-4
      <select style="width: 100%;" type="select" id="genre-select"></select>
  .col-sm-offset-2
    = f.submit 'Save', class: "btn btn-primary"
