= form_for @performer, html: { class: "form-horizontal", role: "form", id: "performer-form" } do |f|
  // TODO FIXME: three different error divs here ugh
  - if @performer.errors.any?
    .text-danger
      %h4= "#{pluralize(@performer.errors.count, "error")} prohibited this performer from being saved:"
      %ul.list-group
        - @performer.errors.full_messages.each do |msg|
          %li.list-group-item= msg
  .payment-errors.text-danger.text-center
  .form-errors.text-danger.text-center

  .form-group
    = f.label(:name, "Performer Name", class: "col-sm-2 control-label")
    .col-sm-4
      = f.text_field(:name, class: "form-control", type: "text")
  .form-group
    = f.label(:soundcloud_url, "Soundcloud URL", class: "col-sm-2 control-label")
    .col-sm-4
      = f.text_field(:soundcloud_url, class: "form-control", type: "text")
    %p.help-block Pick a song or set on Soundcloud that shows off your music, and we'll embed it automatically in your listing
  .form-group
    = f.label(:description, "Description", class: "col-sm-2 control-label")
    .col-sm-4
      = f.text_area(:description, class: "form-control", type: "text")
  .form-group
    = f.label(:genre, "Genre", class: "col-sm-2 control-label")
    .col-sm-4#genre-select
      = f.select(:genre, options_for_genre(@performer.genre), {}, {class: "form-control", type: "select"})
  .form-group
    = f.label(:price, "Price Per Gig ($)", class: "col-sm-2 control-label")
    .col-sm-4
      = f.number_field(:price, class: "form-control", type: "number")
  .form-group
    = f.label(:avatar, "Cover Image", class: "col-sm-2 control-label")
    .col-sm-4
      = f.file_field :avatar, class: "form-control file-upload", type: "file"
      %p.help-block We will display this image when users search for you
  = f.hidden_field(:user_id, value: current_user.id)

  %hr
    %h2 Billing Information
    .billing
      %p.help-block These fields will allow us to transfer to your bank account
      .form-group
        = label_tag :legal_billing_name, "Legal Billing Name", class: "col-sm-2 control-label"
        .col-sm-4
          = text_field_tag :legal_billing_name, "", class: "form-control legal-billing-name", type: "text"
        %p.help-block
          Enter the name on the bank account
      .form-group
        = label_tag :billing_email, "Billing Email", class: "col-sm-2 control-label"
        .col-sm-4
          = text_field_tag :billing_email, nil, class: "form-control billing-email", type: "text"
      .form-group
        = label_tag :routing_number, "Routing Number", class: "col-sm-2 control-label"
        .col-sm-4
          = text_field_tag :routing_number, nil, class: "form-control routing-number", type: "text"
      .form-group
        = label_tag :account_number, "Account Number", class: "col-sm-2 control-label"
        .col-sm-4
          = text_field_tag :account_number, nil, class: "form-control account-number", type: "text"
  .col-sm-offset-5
    = f.submit 'Save', disabled: true, class: "btn btn-primary", id: "performer-submit"
