.page-header
  %h1
    = @performer.name
    %small
      = number_to_currency(@performer.price)
      - if @performer.location
        \|
        = @performer.location
      - if followers = @performer.followers_count
        \|
        = "#{number_with_delimiter(followers)} Followers"
.row
  .col-sm-6
    - if @embed_info.present?
      = @embed_info.html.html_safe
    - else
      - @performer.avatar.options[:url] = ":s3_domain_url"
      = image_tag @performer.avatar.url(:large), class: "image-responsive"
  .col-sm-6
    - if @performer.description.present?
      .well
        %p.lead= @performer.description
      %hr
    %h3
      = "Want To Book " + @performer.name + "?"
    %p.help-block
      We won't charge your credit card until the performer has accepted your offer.
    - if @performer.ready_to_book?
      = render partial: "checkout", :locals => { :performer => @performer, :booking => @booking }
    - elsif !user_signed_in?
      %br
        %div{ style: "text-align: center;"}
          %h4
            Please log in to book
          = link_to new_user_session_path do
            %button.btn.btn-primary Log In
    - else
      %br
        %div{ style: "text-align: center;"}
          %h4
            This performer isn't activated yet.
          = link_to "mailto:support@beathavenapp.com" do
            %button.btn.btn-primary Contact Us To Help Activate This Performer

- if @performer.reviews.present?
  %hr
  .col-sm-8.col-sm-offset-2
    %h3.text-center Reviews
    - @performer.reviews.each do |review|
      .well.well-lg
        %p.strong= review.content
        %footer= review.created_at.to_date
