.page-header
  %h1
    = @performer.name
    %small
      = number_to_currency(@performer.price)
      \|
      = @performer.location
.row
  .col-sm-6
    = @embed_info.html.html_safe if @embed_info.present?
  .col-sm-6
    - if @performer.description.present?
      .well
        %p.lead= @performer.description
      %hr
    %h3
      = "Want To Book " + @performer.name + "?"
    %p.help-block
      We won't charge your credit card until the performer has accepted your offer.
    - if !user_signed_in?
      %br
        %div{ style: "text-align: center;"}
          %h4
            Please log in to book
          = link_to new_user_session_path do
            %button.btn.btn-primary Log In
    - else
      %span= render partial: "checkout", :locals => { :performer => @performer, :booking => @booking }

- if @performer.reviews.present?
  %hr
  .col-sm-8.col-sm-offset-2
    %h3.text-center Reviews
    - @performer.reviews.each do |review|
      .well.well-lg
        %p.strong= review.content
        %footer= review.created_at.to_date
