.page-header
  %h1
    = @performer.name
    %small= number_to_currency(@performer.price)
.row
  .col-sm-6
    = @embed_info.html.html_safe if @embed_info.present?
  .col-sm-6
    .well
      %p.lead= @performer.description
    %span= render partial: "checkout", :locals => { :performer => @performer, :booking => @booking }
