<!DOCTYPE html>
<html>
<head>
  <title>BeatHaven</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<br/>
<%= render :partial => "partials/navbar" %>
<%= render :partial => "partials/flash" %>
<%= yield %>
</div>

</body>
</html>
